body {
-moz-user-select:none;
-webkit-user-select:none;
-ms-user-select:none;
}

#circle {
cursor:pointer;
border-radius:50%;
width:15em;
height:15em;
background-color:#dfdfdf;
-webkit-transition:ease .1s;
transition:ease .1s;
text-align:center;
margin: auto;
display:table;
margin-top:1em;
margin-bottom:1em;
}

#circle:active {
width:16em;
height:16em;
margin-top:0.5em;
margin-bottom:0.5em;
}

#circle #count {
display:table-cell;
vertical-align:middle;
text-align:center;
font-size:5em;
}

#storeItem,#storeItemDisabled {
width:98%;
margin:auto;
height:64px;
background-color:#dfdfdf;
border-radius:5px;
margin-top:2px;
z-index:0;
padding-left: 2px;
}

#storeItemText {
z-index:2;
position:relative;
margin-left:0.1rem;
}

#leftMenu {
background-color:#dfdfdf;
border-radius:5px;
width:98%;
margin:auto;
margin-top:1rem;
padding:0.1rem;
}

#name {
font-size:2em;
margin:5px;
}

#clicksPerSecond {
font-size:1.5em;
margin:5px;
}

#leftListItem {
font-size:1em;
margin:5px;
}

.qty {
font-size:5em;
text-align:right;
right:0;
margin-top:-40px;
position:relative;
color:#cbcbcb;
z-index:1;
}
#footer {
    padding:1rem;
    text-align: center;
}
